SUBSYSTEM=="usb", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", MODE="0666"
KERNEL=="hidraw*", ATTRS{busnum}=="1", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", MODE="0666"